body{
  max-width: 700px;
  margin: auto;
}

main{
  background: #e2e2e2;
  padding: 10px 20px 20px 20px;
}

/*use the typekit font for headings*/
h1,h2 {
  font-family: "blenny",sans-serif;
  font-size: 60px;
  line-height: 65px;
  }

h1 {
  font-size: 60px;
  line-height: 65px;
  }

h2 {
  font-size: 30px;
  line-height: 35px;
  }


p:nth-child(2n),
li
{
  font-family: 'Indie Flower', sans-serif;
  font-size: 20px;
  line-height: 25px;
}

p:nth-child(2n+1){
  font-family: 'chunkfiveroman', sans-serif;
  font-size: 20px;
  line-height: 25px;
}

html.js.wf-loading h1,
html.js.wf-loading h2,
html.js.wf-loading p,
html.js.wf-loading li{
  visibility: hidden;
}